.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 8rem 0;
}

.main > h1 {
  text-align: center;
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.main > a > button {
  margin: auto;
  margin-top: 2em;
  display: block;
  padding: 14px 40px;
  background-color: rgb(229, 125, 107);
  border: none;
  border-radius: 2px;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}

.main > a > button:hover {
  opacity: 0.9;
  cursor: pointer;
  transition: 250ms;
}

.main > ol {
  text-align: center;
  width: 50%;
  margin: auto;
}

.title a {
  color: rgb(229, 125, 107);
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 3rem;
  margin-bottom: 20px;
}

.title {
  text-align: center;
}

.home {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  width: 50%;
  margin-bottom: 2em;
}

.home > input {
  width: 100%;
  padding: 20px;
  color: black;
  background-color: white;
}

.home > select {
  color: black;
  background-color: white;
}
